﻿@model Test.Core.Models.ClientModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="offset-md-3 col-md-6">    
        <h4>Delete</h4>
        <h5 class="text-danger">Are you sure you want to delete this?</h5>
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h5>Cliente</h5>
            </div>
            <div class="card-body row">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.DNI)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DNI)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>
                    @{int i = 1;}
                    @foreach (var email in @Model.Emails)
                    {
                        <dt class="col-sm-2">
                            Email @i
                        </dt>
                        <dd class="col-sm-10">
                            @email.EmailAddress
                        </dd> 
                        ++i;
                    }
                     @{ i = 1;}
                    @foreach (var address in @Model.Addresses)
                    {
                        <dt class="col-sm-3">
                            Address @i
                        </dt>
                        <dd class="col-sm-9">
                            @address.Description
                        </dd>
                         ++i;
                    }
                    @{ i = 1;}
                    @foreach (var phone in @Model.Phones)
                    {
                        <dt class="col-sm-3">
                            Phone @i
                        </dt>
                        <dd class="col-sm-9">
                            @phone.Number
                        </dd>
                         ++i;
                    }
                </dl>
            </div>
        </div>
    </div>
    <div class="my-3"></div>
    <div class="offset-md-3 col-md-6">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
