﻿@model Test.Core.Models.ClientModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <h4>Details</h4>
    <div class="offset-md-3 col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h5>Cliente</h5>
            </div>
            <div class="card-body row">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.DNI)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DNI)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>
                    @{int i = 0;}
                    @foreach (var email in @Model.Emails)
                    {
                        <dt class="col-sm-2">
                            Email
                        </dt>
                        <dd class="col-sm-10">
                            @email.EmailAddress
                        </dd> 
                        ++i;
                    }
                     @{ i = 0;}
                    @foreach (var address in @Model.Addresses)
                    {
                        <dt class="col-sm-3">
                            Address
                        </dt>
                        <dd class="col-sm-9">
                            @address.Description
                        </dd>
                         ++i;
                    }
                    @{ i = 0;}
                    @foreach (var phone in @Model.Phones)
                    {
                        <dt class="col-sm-3">
                            Phone
                        </dt>
                        <dd class="col-sm-9">
                            @phone.Number
                        </dd>
                         ++i;
                    }
                </dl>
            </div>
        </div>
    </div>
    <div class="my-3"></div>
    <div class="offset-md-3 col-md-6">
        <div class="form-group">
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
