﻿@model Test.Core.Models.ClientModel

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <h4>Edit</h4>
    <form asp-action="Edit">
        <div class="card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-header bg-dark text-light">
                <h5>Cliente</h5>
            </div>
            <div class="card-body row col-md-12">
                <div class="form-group col-md-3">
                    <input type="hidden" asp-for="@Model.Id" />
                    <label asp-for="@Model.DNI" class="control-label"></label>
                    <input asp-for="@Model.DNI" class="form-control" />
                    <span asp-validation-for="@Model.DNI" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="@Model.Name" class="control-label"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="@Model.LastName" class="control-label"></label>
                    <input asp-for="@Model.LastName" class="form-control" />
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="@Model.BirthDate" class="control-label"></label>
                    <input asp-for="@Model.BirthDate" class="form-control" />
                    <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="my-3"></div>
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h5>Contact</h5>
            </div>
            <div class="card-body row col-md-12">
                <div class="col-md-3">
                    <div class="form-group m-0 p-2">
                        @for (int i = 0; i < Model.Emails.Count; i++)
                        {
                        
                            <input type="hidden" asp-for="@Model.Emails[i].Id" />
                            <label class="control-label">Email @(i+1)</label>
                            @Html.EditorFor(x => x.Emails[i].EmailAddress, new { htmlAttributes = new { @class="form-control" }, data_val = false } )
                            <span asp-validation-for="@Model.Emails[i].EmailAddress" class="text-danger"></span>
                        }
                        <span asp-validation-for="@Model.Emails" class="text-danger"></span>                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group m-0 p-2">
                        @for (int i = 0; i < Model.Addresses.Count; i++)
                        {                        
                            <input type="hidden" asp-for="@Model.Addresses[i].Id" />
                            <label class="control-label">Address @(i+1)</label>
                            @Html.EditorFor(x => x.Addresses[i].Description, new { htmlAttributes = new { @class="form-control" }, data_val = false } )
                            <span asp-validation-for="@Model.Addresses[i].Description" class="text-danger"></span>                        
                        }
                        <span asp-validation-for="@Model.Addresses" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-0 p-2">
                        @for (int i = 0; i < Model.Phones.Count; i++)
                        {
                        
                            <input type="hidden" asp-for="@Model.Phones[i].Id" />
                            <label class="control-label">Phones @(i+1)</label>
                            @Html.EditorFor(x => x.Phones[i].Number, new { htmlAttributes = new { @class="form-control" }, data_val = false } )
                            <span asp-validation-for="@Model.Phones[i].Number" class="text-danger"></span>
                        
                        }
                    </div>
                    <span asp-validation-for="@Model.Phones" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="my-3"></div>
         <span asp-validation-for="@Model.ErrorMessage" class="text-danger"></span>
        <div class="my-3"></div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="my-3"></div>
        <div class="col-md-12">            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-success" /> |
                <a  asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
